*.dtb
*.dtbo
*.img
*.ko
.config
Image
Image.gz
Image.lz4
System.map
abi_gki_aarch64_pixel
ddk-uapi-headers.tar.gz
dtb.img
gki_certification_tools.tar.gz
initramfs.img
kernel-headers.tar.gz
kernel-uapi-headers.tar.gz
kernel_aarch64_Module.symvers
kernel_aarch64_modules
kernel_kmi_symbol_list_violations_checked
kernel_modules
kunit_tests.zip
modules.builtin
modules.builtin.modinfo
system_dlkm.img
system_dlkm.props
system_dlkm_file_contexts
system_dlkm_staging_archive.tar.gz
unstripped_modules.tar.gz
vendor_dlkm.img
vendor_dlkm.props
vendor_dlkm_file_contexts
vendor_dlkm_staging_archive.tar.gz
vendor_kernel_boot.img
vmlinux
vmlinux.symvers

init.insmod.deepspace.cfg
